In [2]:
import pandas as pd
import numpy as np

In [3]:
# Display the help document
pd?

In [7]:
# print the version of pandas
pd.__version__

'1.0.5'

In [5]:
"""
    pandas Object: Series
"""
# Create a series from an array

ser = pd.Series([0.25, 0.5, 0.75, 1.0]) # constructor method 
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
# Two main attributes: 'values' and 'index'
arr = ser.values
print(arr)

ind = ser.index
print(ind.values) # 수치계산 .values

[0.25 0.5  0.75 1.  ]
[0 1 2 3]

In [8]:
# Label-based Indexing

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser)

print(ser['a'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.25

In [10]:
"""
Create a series from a dictionary
"""

population_dict = {'California': 3833221,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
print(population)

print(population['California' : 'New York'])

California     3833221
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California     3833221
Texas         26448193
New York      19651127
dtype: int64

In [15]:
"""
    Pandas object: DataFrame
"""

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illnois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illnois       149995
dtype: int64

In [17]:
# Construct a DataFrame contacting 'population' and 'area' Series

states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index, '\n')
print(states.columns)

            population      area
California   3833221.0  423967.0
Florida     19552860.0  170312.0
Illinois    12882135.0       NaN
Illnois            NaN  149995.0
New York    19651127.0  141297.0
Texas       26448193.0  695662.0
Index(['California', 'Florida', 'Illinois', 'Illnois', 'New York', 'Texas'], dtype='object')

Index(['population', 'area'], dtype='object')

In [18]:
# Construct a DataFrame from a 2D NumPy array

arr = np.random.rand(3, 2)
print(arr, '\n')

df = pd.DataFrame(arr, columns=['foo', 'bar'], index=['a','b','c'])

print(df)

[[0.94890983 0.22544347]
 [0.45887952 0.74646377]
 [0.24368033 0.9812977 ]]

       foo       bar
a  0.94891  0.225443
b  0.45888  0.746464
c  0.24368  0.981298

In [31]:
"""
Series object manipulation: dictionary-style
"""

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

print(ser, '\n')
print('a' in ser)
print(0.25 in ser)

print(ser.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

False
False
RangeIndex(start=0, stop=4, step=1)

In [20]:
"""
Series object manipulation: array-style
"""
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125

print(ser)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [26]:
"""
DataFrame object manipulation
"""

print(states['area']) # == states.area

California    423967.0
Florida       170312.0
Illinois           NaN
Illnois       149995.0
New York      141297.0
Texas         695662.0
Name: area, dtype: float64

In [27]:
"""
DataFrame object manipulation
"""

states['density'] = states['population'] / states['area']
print(states)

            population      area     density
California   3833221.0  423967.0    9.041319
Florida     19552860.0  170312.0  114.806121
Illinois    12882135.0       NaN         NaN
Illnois            NaN  149995.0         NaN
New York    19651127.0  141297.0  139.076746
Texas       26448193.0  695662.0   38.018740

In [28]:
# Indexer: Loc, iloc

states.loc['population' : 'density']
states.loc['Texas' : 'Florida']

Empty DataFrame
Columns: [population, area, density]
Index: []

In [29]:
#Masking and fancy indexing using the Loc indexer
print(states.loc[states.density > 100, ['population', 'density']], '\n')

          population     density
Florida   19552860.0  114.806121
New York  19651127.0  139.076746